*{
  margin: 0px;
  padding: 0px;
}
.body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}
ul{
  display: flex;
  height: max-content;
}

ul li {
  padding: 10px;
  position: relative;
  list-style: none;
  cursor: pointer;
  margin: 0px 10px;
  color: white;
  transition: color 0.2s;
  text-align: center;
  /* background: green; */
}

ul li:before {
  content: "";
  background-color: cyan ;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: -1;
  height: 5%;
  transition: height 0.2s;
}

ul li:hover:before{
  height: 100%;
}
ul li:hover{
  color: black;
}
